_site/
node_modules*/
slides/MathJax/
.DS_Store
slides/JSLibrary/animo.js/
slides/JSLibrary/move.js/
.vscode/
.bundle/
slides/Media/PollEv/
slides/JSLibrary/jquery-ui-1.11.4/
slides/JSLibrary/jquery-ui-themes-1.11.4/
slides/JSLibrary/coverflow-3.0.2/
Gemfile*
README.md.old
google.png
img/news/abcd700x400orig.jpg
package.json.orig
research_before.html
slides/.brackets.json
slides/JSLibrary/coverflow.standalone.js
slides/JSLibrary/d3.min.js
slides/JSLibrary/jquery-1.11.3.js
slides/JSLibrary/jquery-2.1.4.min.js
slides/JSLibrary/plotly-basic.js
slides/JSLibrary/raphael-min.js
slides/Media/ABCDgroup/abcdLogo2_20160606.png
slides/Media/Clustering/CordCValphaMno30MethodgFD22ANDn800p1600.png
slides/Media/Clustering/CordFMRIClusters.tiff
slides/Media/GraphicalModels/AntPreSMALam05_1.PNG
slides/Media/GraphicalModels/AntPreSMA_kmeansLam05_1.PNG
slides/Media/GraphicalModels/HGMAlgorithm1.png
slides/Media/GraphicalModels/HGMClusteringComparison.png
slides/Media/GraphicalModels/ROCSimu24JLsmallN2Sval10.png
slides/Media/GraphicalModels/ZFrobSimu24JLsmallN2Sval10.png
slides/Media/GraphicalModels/wholeBrainNet.png
slides/Media/GraphicalModels/wholeBrainParc.png
slides/Media/IT/mac2011.jpg
slides/Media/Mediation/MediationModelGeneral.png
slides/Media/Network/HotNetPipeline.png
slides/Media/Network/networkFMRImodel.png
slides/Media/Network/scioVSglassoSimu.png
slides/Media/Personnel/Rossi150x250.jpg
slides/Media/QR/xlENAR16.png
slides/Media/Teaching/slbdCourseVideo.tiff
slides/Media/Web/cvdRiskCalculator.tiff
slides/Media/fMRI/ResCORDKendallCorCVRemapInterParula2.png
slides/Media/fMRI/SmithModel.png
slides/Media/fMRI/SmithModel.tiff
slides/Media/fMRI/fMRINetworkOverview.png
slides/Media/fMRI/generalNetworkPipelineWithMine.png
slides/MyTemplateReveal35.html
slides/output.pdf
slides/rsyncHtmlFolder.sh
tetsiframe.html
delete_node_modules/
statcomp/stat_comp_test.docx
statml/.ipynb_checkpoints/
