---

layout: default

carousel:
  - img: MyImages/ResearchProject/Headslides.001.gif
    text: Big Data Inference
    caption:
  - img: MyImages/ResearchProject/Headslides.002.gif
    text: Network Models
    caption:
  - img: MyImages/ResearchProject/Headslides.003.gif
    text: Predictive Systems
    caption:
  - img: MyImages/ResearchProject/Headslides.004.gif
    text: Optimization
    caption:
  - img: MyImages/ResearchProject/Headslides.005.gif
    text: Method and Theory
    caption:

portfolio:
  heading: Research Projects
  items:
    - link: /dimensional_inferencing.html
      img: MyImages/research/dimensional.jpg
      alt: High Dimensional Inference/Big Data Analytics
    - link: /casual_inference.html
      img: MyImages/research/brain.jpg
      alt: Casual Inference

script: |
  <!-- Script to Activate the Carousel -->
  $('.carousel').carousel({
      interval: 5000 //changes the speed
  })

---

<!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Recent News <small><a href="/news.html">(archives)</a></small>
        </h1>
    </div>

    {% for i in (0..8) %}
    {% assign news_post = site.categories.news[i] %}

    <div class="col-md-4">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h4>{{ news_post.title }}</h4>
            </div>
            <div class="panel-body">
                <div style="height: 100px; text-overflow: ellipsis; overflow: hidden;">
                    {{ news_post.excerpt }}
                </div>
                <a href="{{ news_post.url }}" class="btn btn-default">Learn More</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- /.row -->


<!-- Research Portfolio Section -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Recent Projects <small><a href="/talks.html">(archives)</a></small>
        </h1>
    </div>

    {% for i in (0..8) %}
    {% assign talk_post = site.categories.talks[i] %}

    <div class="col-md-4 col-sm-6">
        <a href="/slides/{{talk_post.externallink}}" target="_blank">
            <img class="img-responsive img-portfolio img-hover" src="/img/talkScreenshots/{{talk_post.externallink}}.png" alt="{{ talk_post.excerpt }}">
        </a>
    </div>
    {% endfor %}
</div>
<!-- /.row -->

<!-- {% include portfolio.html %} -->


<!-- Features Section -->
<!-- div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Modern Business Features</h2>
    </div>
    <div class="col-md-6">
        <p>The Modern Business template by Start Bootstrap includes:</p>
        <ul>
            <li><strong>Bootstrap v3.2.0</strong>
            </li>
            <li>jQuery v1.11.0</li>
            <li>Font Awesome v4.1.0</li>
            <li>Working PHP contact form with validation</li>
            <li>Unstyled page elements for easy customization</li>
            <li>17 HTML pages</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="http://placehold.it/700x450" alt="">
    </div>
</div> -->
<!-- /.row -->

<!--<hr>-->

<!-- Call to Action Section -->
<!-- div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
        </div>
    </div>
</div> -->
