---
layout: default

---
{% if site.github.url %}
  {% assign url_base = site.github.url %}
{% else %}
  {% assign url_base = site.url %}
{% endif %}

{% assign remote_url_base = "https://talks.bigcomplexdata.com" %}


<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Talks
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{url_base}}/index.html">Home</a>
            </li>
            <li class="active">Talks</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class='row'>
    {% for post in site.categories.talks %}
    <div class="col-md-4 img-portfolio" style="height: 410px">

        <!--<a href="/{{ post.url  }}">       </a>-->
        {% if post.previewimage %}
        
        <div>
            <a href="http://{{remote_url_base}}/{{ post.externallink }}" target="_blank">
                  <img class="img-responsive img-hover"  src='/img/talkScreenshots/{{post.externallink}}.png'/>
            </a>
        <!-- <iframe src="http://{{ remote_url_base }}/{{ post.previewimage }}" frameborder="0" width="341" height="256"></iframe> -->
    <!--<a href="http://{{remote_url_base}}/{{ post.externallink }}" style="position:absolute; top:0; left:0; display:inline-block; width:341px; height:256px; z-index:5;" target="_blank">></a>-->
        </div>
        {% else %}
        <img class="img-responsive img-hover" src="http://placehold.it/512x384" alt="">
        {% endif %}


                  <h4> <a href="http://{{remote_url_base}}/{{ post.externallink }}" target="_blank"> {{ post.excerpt  | remove: '<p>' | remove: '</p>' }} </a> </h4>
        <p><i class="fa fa-clock-o"></i> On {{ post.date | date: "%B %-d, %Y" }}  at {{ post.title }} </p>
                 <!--<a class="btn btn-primary" href="http://{{remote_url_base}}/{{ post.externallink }}" target="_blank">View Slides <i class="fa fa-angle-right"></i></a>-->
    </div>
    {% endfor %}
</div>



<hr>

<!-- Pagination -->
<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<!-- /.row -->
